<h1>My Books</h1>

<div class="book-list">
  <% @books.each do |book| %>
  <div class="wrapper">
    <h2><%= book.title %></h2>
    <h3>Author: <%= book.author %></h3>
    <div class="button">
    <a href="/books/<%= book.id %>" class="btn">
      Details >
    </a>
  </div>
  </div>
  <% end %>
</div>
